.field-container__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 0 22%;
  perspective: 700px;
  cursor: pointer;

  &:hover > .card {
    transform: translateZ(50px);
    box-shadow: 0 5px 15px gray;
  }

  &.flipped > .card {
    transform: rotateY(180deg);
  }

  .card {
    width: 168px;
    height: 168px;
    transform-style: preserve-3d;
    transition: all 0.5s;
    box-shadow: 0 0 15px gray;
    margin-bottom: 20px;

    &_front,
    &_back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 5px;
      background-position: center;
      background-size: cover;
    }

    &_front {

    }

    &_back {
      background-image: url(../../assets/images/card-back.jpg);
      transform: rotateY(180deg);
    }
  }
}
