.field-container__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 0 22%;
  perspective: 700px;
  cursor: pointer;
  width: 168px;
  height: 168px;
  margin: 10px;
  transition: all 0.5s;

  &:hover > .card {
    transform: translateZ(50px);
    box-shadow: 0 5px 15px gray;
  }

  &.flipped > .card {
    transform: rotateY(180deg);
  }
}
