.main__timer {
  width: 265px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #CACACA;
  margin-bottom: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}
