.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
  box-shadow: 0 0 15px gray;
  margin-bottom: 20px;

  &_front,
  &_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
  }

  &_back {
    background-image: url(../../../assets/images/card-back.jpg);
    transform: rotateY(180deg);
  }

  &.red {
    background-color: red;
  }
  
  &.red > .card_front {
    border-radius: 5px;
    opacity: 0.6;
  }

  &.green {
    background-color: green;
  }

  &.green > .card_front {
    border-radius: 5px;
    opacity: 0.6;
  }
}
