@import url(./normalize.css);
@import url(./fonts.css);

body {
  background-color: #222;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.header {
  background-color: #2196f3;
}

.header-wrapper {
  margin: 0 24px;
  display: flex;
  align-items: center;

  .header__logo-container {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-container__logo {
      margin-bottom: 6px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: inherit;
    }
    .logo-container__btn {
      text-decoration: none;
      outline: none;
      border: none;
      height: 20px;
      width: 80px;
      text-transform: uppercase;
      color: #2196f3;
      background-color: #fff;
      margin-bottom: 15px;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        background-color: #dedede;
      }
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 81%;
    color: #ffffff;
    width: 100%;
    height: 64px;
    .nav__item {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      &:first-child {
        margin-left: 150px;
      }
      p {
        margin: 9px 0 0 0;
      }
      &:hover {
        background-color: #1e88e5;
        cursor: pointer;
      }
    }
  }

  .header__btn {
    width: 207px;
    height: 36px;
    outline: none;
    text-transform: none;
    border: none;
    text-transform: uppercase;
    color: #2196f3;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    border-radius: 5px;
    &:hover {
      background-color: #dedede;
    }
  }
}
